
.page-content{
    
}
.page-content .author{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.page-content .author img{
    height: 60px;width: 60px;
    border-radius: 50%;
}